// body tags
.body-1 {
    font-size: 2.2rem;
    line-height: 1.6;
}

.body-2 {
    font-size: 2rem;
    line-height: 1.6;
}

.body-3 {
    font-size: 1.8rem;
    line-height: 1.6;
}

.body-4 {
    font-size: 1.6rem;
    line-height: 1.6;
}

.body-5 {
    font-size: 1.4rem;
    line-height: 1.6;
}

.body-6 {
    font-size: 1.2rem;
    line-height: 1.6;
}

// Buttons
.button {
    font-size: 1.8rem;
    text-decoration: none;
    color: $black;
    padding: 1.5rem;
    border-radius: 5px;
    border: 2px solid $black;
    transition: all .5s;
    cursor: pointer;

    &--black {
        color: $white;
        background-color: $black;
        border-color: $yellow-logo;

        &:hover {
            color: $black;
            background-color: $yellow-logo;
            border-color: $brown-logo;
        }
    }

    &--yellow {
        background-color: $yellow-logo;

        &:hover {
            color: $white;
            background-color: $black;
            border-color: $yellow-logo;
        }
    }

    &--white {
        background-color: $white;

        &:hover {
            color: $white;
            background-color: $black;
        }
    }

    &--arrow {
        padding: .5rem 2rem;
        font-size: 3rem;
    }
}

// H tags
.h1 {
    font-size: 5rem;

    @include respond(md) {
        font-size: 4rem;
    }

    @include respond(sm) {
        font-size: 3rem;
    }
}

.h2 {
    font-size: 4rem;

    @include respond(md) {
        font-size: 3rem;
    }

    @include respond(sm) {
        font-size: 2.5rem;
    }
}

.h3 {
    font-size: 3rem;

    @include respond(md) {
        font-size: 2.5rem;
    }
}

.h4 {
    font-size: 2.5rem;

    @include respond(md) {
        font-size: 2.2rem;
    }
}
// Inputs
.input-text {
    font-size: 1.6rem;
    padding: 1rem .5rem;
    outline: none;
    border: 1px solid $black;
    border-radius: 5px;

    &:focus {
        border: 1px solid $green;
    }
}

.input-textarea {
    font-size: 1.6rem;
    padding: 1rem .5rem;
    outline: none;
    border: 1px solid $black;
    border-radius: 5px;

    &:focus {
        border: 1px solid $green;
    }
}

/**
* Style for input checkbox.
*  Following this structure
*   <label class="input-checkbox-label" for="privacy">Accetto la <a href="<?= createLink('/privacy/'); ?>">Privacy Policy</a>
*      <input id="privacy" name="privacy" type="checkbox" required />
*      <span class="input-checkbox-checkmark"></span>
*   </label>
*/
.input-checkbox-label {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    font-size: 2.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .input-checkbox-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 2.5rem;
        width: 2.5rem;
        background-color: $grey-form;
    }

    input:checked ~ .input-checkbox-checkmark {
    background-color: $yellow-logo;
    }

    .input-checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }

    input:checked ~ .input-checkbox-checkmark:after {
    display: block;
    }

    .input-checkbox-checkmark:after {
    left: .9rem;
    top: .5rem;
    width: .5rem;
    height: 1rem;
    border: solid $white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
}

// Link
.link {
    text-decoration: none;
    color: $red-link;
    cursor: pointer;

    &:hover {
        color: $black;
    }
}

.link-no-style {
    text-decoration: none;
    color: $black;
}

.link-no-style--white {
    color: $white;
}

.list-no-style__inherit-color {
    text-decoration: none;
    color: inherit;
}

.link-effect-load {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: $white;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $yellow-logo;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.link-mark {
    display: inline-block;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(1);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $yellow-logo;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

}

// List
// ul and ol with no style
.list-no-style {
    list-style: none;
    margin-left: 0 !important;
}

// li without padding-left
.list-no-style__item {
    padding-left: 0 !important;
}