.breadcrumbs {

    @include respond(sm) {
        margin-top: 1rem;
    }

    width: 90%;
    text-align: left;

    &__item {
        color: $black;
        font-weight: 600;
    }

    &__item-span {
        font-size: 2rem;
    }

}