.carousel {
    width: 80%;
    margin: 2rem 0;

    @include respond(sm) {
        margin: 1rem 0;
        width: 90%;
    }
    
    &__container {
        position: relative;
        height: 70rem;
        margin: auto;

        @include respond(xxl) {
            height: 70rem;
        }

        @include respond(xl) {
            width: 100%;
        }

        @include respond(xxl) {
            height: 60rem;
        }
    }

    &__left-btn {
        display: none;
        position: absolute;
        top: 90%;
        left: 30%;

        @include respond(xxl) {
            top: 90%;
            left: 30%;
        }

        @include respond(xl) {
            top: 85%;
        }

        @include respond(md) {
            left: 10%;
        }

        @include respond(sm) {
            top: 70%;
        }
    }

    &__right-btn {
        position: absolute;
        top: 90%;
        right: 30%;

        @include respond(xxl) {
            top: 90%;
            right: 30%;
        }

        @include respond(xl) {
            top: 85%;
        }

        @include respond(md) {
            right: 10%;
        }

        @include respond(sm) {
            top: 70%;
        }
    }

    &__slide {
        position: absolute;
        width: 80%;
        object-fit: cover;
        max-height: 50rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond(xxl) {
            width: 100%;
            top: 40%;
        }
    }
}