.comment-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    min-height: 25rem;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid $grey-light;

    @include respond(xxl) {
        min-height: 30rem;
    }

    @include respond(xl) {
        min-height: 35rem;
    }

    @include respond(md) {
        margin: 5rem auto;
    }

    &__container-title {
        margin-bottom: 1rem;
    }

    &__container-data {
        margin-bottom: 1rem;
    }

    &__data {
        color: $grey-light;
    }

}