.error404 {

    &__container-404 {
        text-align: center;
    }
    
    &__404-description {
        margin-bottom: 5rem;
    }

    &__404-action-flex {
        width: 100%;
        height: auto;
        min-height: 10rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 5rem;
    }

    &__404-action-flex-single {
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
}