/**
* Create a mixin that works for
* media queries in the following breakpoints:
*           xs
*           sm
*           m
*           l
*           xl
*           xxl
*
* This project follow the logic of responsive-design
*/
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

.link-effect-load {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff; }
  .link-effect-load::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffd349;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; }
  .link-effect-load:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; }

.link-mark {
  display: inline-block;
  position: relative; }
  .link-mark::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffd349;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; }

.header {
  position: relative;
  height: 40vh; }
  .header__container {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 0;
    text-align: center;
    border-bottom: 3px solid #000;
    z-index: 1; }
  .header__logo {
    display: inline-block;
    width: 15rem; }

/*
* Add more height for device with screen
* height less then 800px
* like laptop 15.6''
*/
@media screen and (max-height: 800px) {
  .header {
    height: 50vh; } }

/*
* Add more height for device with screen
* height less then 700px
* like iPhone 4 and iPhone SE
*/
@media screen and (max-height: 700px) {
  .header {
    height: 90vh; } }

.nav {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: #222;
  z-index: 2; }
  .nav__label {
    display: none;
    cursor: pointer; }
    @media only screen and (max-width: 991px) {
      .nav__label {
        display: block; } }
  .nav__toggle {
    display: block;
    width: 3rem;
    padding: .2rem;
    margin: .5rem;
    background-color: #fff; }
  .nav__input {
    display: none; }
    .nav__input:checked ~ .nav__menu {
      display: block; }
  @media only screen and (max-width: 991px) {
    .nav__menu {
      display: none; } }
  .nav__item {
    padding: 1rem;
    display: inline;
    font-size: 2rem;
    color: #fff; }
    @media only screen and (max-width: 991px) {
      .nav__item {
        display: block; } }
