/**
* Create a mixin that works for
* media queries in the following breakpoints:
*           xs
*           sm
*           m
*           l
*           xl
*           xxl
*
* This project follow the logic of responsive-design
*/
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

.body-1 {
  font-size: 2.2rem;
  line-height: 1.6; }

.body-2 {
  font-size: 2rem;
  line-height: 1.6; }

.body-3 {
  font-size: 1.8rem;
  line-height: 1.6; }

.body-4 {
  font-size: 1.6rem;
  line-height: 1.6; }

.body-5 {
  font-size: 1.4rem;
  line-height: 1.6; }

.body-6 {
  font-size: 1.2rem;
  line-height: 1.6; }

.button {
  font-size: 1.8rem;
  text-decoration: none;
  color: #000;
  padding: 1.5rem;
  border-radius: 5px;
  border: 2px solid #000;
  transition: all .5s;
  cursor: pointer; }
  .button--black {
    color: #fff;
    background-color: #000;
    border-color: #ffd349; }
    .button--black:hover {
      color: #000;
      background-color: #ffd349;
      border-color: #5e524a; }
  .button--yellow {
    background-color: #ffd349; }
    .button--yellow:hover {
      color: #fff;
      background-color: #000;
      border-color: #ffd349; }
  .button--white {
    background-color: #fff; }
    .button--white:hover {
      color: #fff;
      background-color: #000; }

.h1 {
  font-size: 5rem; }
  @media only screen and (max-width: 767px) {
    .h1 {
      font-size: 4rem; } }
  @media only screen and (max-width: 575px) {
    .h1 {
      font-size: 3rem; } }

.h2 {
  font-size: 4rem; }
  @media only screen and (max-width: 767px) {
    .h2 {
      font-size: 3rem; } }
  @media only screen and (max-width: 575px) {
    .h2 {
      font-size: 2.5rem; } }

.h3 {
  font-size: 3rem; }
  @media only screen and (max-width: 767px) {
    .h3 {
      font-size: 2.5rem; } }

.h4 {
  font-size: 2.5rem; }
  @media only screen and (max-width: 767px) {
    .h4 {
      font-size: 2.2rem; } }

.link {
  text-decoration: none;
  color: #ff785a;
  cursor: pointer; }
  .link:hover {
    color: #000; }

.link-no-style {
  text-decoration: none;
  color: #000; }

.link-no-style--white {
  color: #fff; }

.list-no-style__inherit-color {
  text-decoration: none;
  color: inherit; }

.link-effect-load {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff; }
  .link-effect-load::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffd349;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; }
  .link-effect-load:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; }

.link-mark {
  display: inline-block;
  position: relative; }
  .link-mark::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffd349;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; }

.list-no-style {
  list-style: none;
  margin-left: 0 !important; }

.list-no-style__item {
  padding-left: 0 !important; }

.article-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: auto;
  margin: 2rem auto;
  padding: 1rem;
  transition: transform .8s;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #a39a9a; }
  @media only screen and (max-width: 1499px) {
    .article-card {
      height: 30rem; } }
  @media only screen and (max-width: 1199px) {
    .article-card {
      height: 35rem; } }
  @media only screen and (max-width: 767px) {
    .article-card {
      height: auto;
      margin: 5rem auto; } }
  .article-card:hover {
    transform: scale(1.05); }
  .article-card__container-title {
    margin-bottom: 1rem; }
  .article-card__container-data {
    margin-bottom: 1rem; }
  .article-card__data {
    color: #000;
    font-weight: 600; }
  .article-card__img {
    width: 15rem;
    float: left;
    margin: 0 1rem .5rem 0; }

.author-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #a39a9a; }
  @media only screen and (max-width: 1499px) {
    .author-card {
      height: 30rem; } }
  @media only screen and (max-width: 1199px) {
    .author-card {
      height: 35rem; } }
  @media only screen and (max-width: 767px) {
    .author-card {
      height: auto;
      margin: 5rem auto; } }
  .author-card__container-title {
    margin-bottom: 1rem; }
  .author-card__container-content {
    margin-bottom: 1rem; }
  .author-card__img {
    width: 15rem;
    float: left;
    margin: 0 1rem .5rem 0; }

.breadcrumbs {
  width: 90%;
  text-align: left; }
  @media only screen and (max-width: 575px) {
    .breadcrumbs {
      margin-top: 1rem; } }
  .breadcrumbs__item {
    color: #000;
    font-weight: 600; }
  .breadcrumbs__item-span {
    font-size: 2rem; }

.comment-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: auto;
  min-height: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #a39a9a; }
  @media only screen and (max-width: 1499px) {
    .comment-card {
      min-height: 30rem; } }
  @media only screen and (max-width: 1199px) {
    .comment-card {
      min-height: 35rem; } }
  @media only screen and (max-width: 767px) {
    .comment-card {
      margin: 5rem auto; } }
  .comment-card__container-title {
    margin-bottom: 1rem; }
  .comment-card__container-data {
    margin-bottom: 1rem; }
  .comment-card__data {
    color: #a39a9a; }

/**
* I have not followed BEM methodology
* in some parts of the articles because
* I want strict rules for
* <h2>
* <p>
* <ol>
* <ul>
*/
.article {
  padding: 0 1rem; }
  .article h1 {
    font-size: 5rem; }
    @media only screen and (max-width: 767px) {
      .article h1 {
        font-size: 4rem; } }
    @media only screen and (max-width: 575px) {
      .article h1 {
        font-size: 3rem; } }
  .article h2 {
    font-size: 4rem; }
    @media only screen and (max-width: 767px) {
      .article h2 {
        font-size: 3rem; } }
    @media only screen and (max-width: 575px) {
      .article h2 {
        font-size: 2.5rem; } }
  .article h3 {
    font-size: 3rem; }
    @media only screen and (max-width: 767px) {
      .article h3 {
        font-size: 2.5rem; } }
  .article h4 {
    font-size: 2.5rem; }
    @media only screen and (max-width: 767px) {
      .article h4 {
        font-size: 2.2rem; } }
  .article ul,
  .article ol {
    margin-left: 5rem; }
    @media only screen and (max-width: 767px) {
      .article ul,
      .article ol {
        margin-left: 2rem; } }
  .article li {
    font-size: 2rem;
    line-height: 1.6;
    padding-left: 1rem; }
  .article p {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 2rem; }
  .article a {
    text-decoration: none;
    color: #ff785a;
    cursor: pointer; }
    .article a:hover {
      color: #000; }
  .article__title {
    margin-bottom: 2rem; }
  .article__data {
    margin-left: 0 !important;
    list-style: none;
    margin-bottom: 2rem; }
  .article__data-item {
    color: #a39a9a;
    margin-bottom: .5rem; }
  .article__index {
    width: 80%;
    margin: 5rem auto !important;
    padding: 3rem;
    border-radius: 5px;
    border: 1px solid #a39a9a; }
    .article__index:hover {
      border: 1px solid #ff785a; }
    @media only screen and (max-width: 767px) {
      .article__index {
        padding: 3rem 1rem; } }
  .article__index-item {
    margin-left: 5rem; }
    @media only screen and (max-width: 767px) {
      .article__index-item {
        margin-left: 3rem; } }
  .article__container-image {
    margin: 3rem auto;
    text-align: center; }
  .article__img {
    width: 60%;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 767px) {
      .article__img {
        width: 90%; } }
    @media only screen and (max-width: 575px) {
      .article__img {
        width: 100%; } }
  .article .wp-block-image {
    margin: 3rem auto;
    text-align: center; }
    .article .wp-block-image img {
      width: 60%;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 767px) {
        .article .wp-block-image img {
          width: 90%; } }
      @media only screen and (max-width: 575px) {
        .article .wp-block-image img {
          width: 100%; } }
    .article .wp-block-image figcaption {
      font-size: 1.5rem;
      font-style: italic; }
  .article__container-taxonomi {
    padding: 1rem .5rem;
    margin-bottom: 5rem;
    border: 1px solid #a39a9a;
    border-radius: 5px; }
  .article__container-author {
    margin-bottom: 5rem; }
  .article__container-author-title {
    text-align: center; }
  .article__comments-sub-title {
    margin-bottom: 2rem; }
  .article__container-comments-success {
    padding: 1rem;
    border: 2px solid #0c8346;
    border-radius: 5px;
    margin-bottom: 2rem; }
  .article__comments-success {
    color: #0c8346;
    font-weight: 700; }
  .article__container-comments-form {
    width: 90%;
    padding: 1rem;
    margin: 0 auto 5rem auto;
    border: 1px solid #a39a9a;
    border-radius: 5px; }
  .article__form-comments-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "article__form-comments-user" "article__form-comments-name" "article__form-comments-email" "article__form-comments-comment" "article__form-comments-privacy" "article__form-comments-submit" "article__form-comments-button";
    /**
        * Nested errors and
        * inputs rules
        * because grid is
        * outside of article class
        * on Twig file
        */ }
    .article__form-comments-grid div ul {
      list-style: none; }
    .article__form-comments-grid div ul li {
      font-size: 1.6rem;
      color: #f00; }
    .article__form-comments-grid input[type=text],
    .article__form-comments-grid input[type=email] {
      width: 50%;
      font-size: 1.8rem;
      padding: 1rem;
      margin: 2rem 0rem;
      transition: all .5s;
      border-radius: 5px;
      border: none;
      outline: 2px solid #000; }
      .article__form-comments-grid input[type=text]:focus,
      .article__form-comments-grid input[type=email]:focus {
        width: 90%;
        border: none;
        outline: 2px solid #0c8346; }
      @media only screen and (max-width: 767px) {
        .article__form-comments-grid input[type=text],
        .article__form-comments-grid input[type=email] {
          width: 60%; } }
    .article__form-comments-grid input[type=checkbox] {
      -ms-transform: scale(2);
      -moz-transform: scale(2);
      -webkit-transform: scale(2);
      -o-transform: scale(2);
      transform: scale(2);
      padding: 10px;
      margin-left: 1rem;
      margin-right: 1rem;
      cursor: pointer; }
    .article__form-comments-grid textarea {
      width: 50%;
      height: auto;
      min-height: 10rem;
      font-size: 1.8rem;
      padding: 1rem;
      margin: 2rem 0rem;
      transition: all .5s;
      border-radius: 5px;
      border: none;
      outline: 2px solid #000; }
      .article__form-comments-grid textarea:focus {
        width: 90%;
        border: none;
        outline: 2px solid #0c8346; }
      @media only screen and (max-width: 767px) {
        .article__form-comments-grid textarea {
          width: 60%; } }
  .article__form-comments-user {
    grid-area: article__form-comments-user;
    margin-bottom: 2rem; }
  .article__form-comments-name {
    grid-area: article__form-comments-name; }
  .article__form-comments-email {
    grid-area: article__form-comments-email; }
  .article__form-comments-comment {
    grid-area: article__form-comments-comment; }
  .article__form-comments-privacy {
    grid-area: article__form-comments-privacy;
    margin-bottom: 2rem; }
    .article__form-comments-privacy .contact__privacy-label {
      cursor: pointer; }
  .article__form-comments-submit {
    grid-area: article__form-comments-submit;
    margin-bottom: 2rem; }
  .article__form-comments-button {
    grid-area: article__form-comments-button; }
  .article__form-button {
    margin: 2rem 0; }
  .article__comments-title {
    margin-bottom: 2rem;
    text-align: center; }

/*
 * Style for the to do list.
 */
.list {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  border: 1px solid #123456; }

.list h4 {
  background: #123456;
  color: #fff;
  padding: 10px 20px;
  font-weight: 600; }

.list ul {
  position: relative;
  padding: 2rem; }

.list ul li {
  position: relative;
  list-style: none;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.list ul li:last-child {
  border-bottom: none; }

.list ul li label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }

.list ul li label input {
  visibility: hidden;
  appearance: none; }

.list ul li label p:first-letter {
  text-transform: capitalize; }

.list ul li label p {
  position: absolute;
  margin-top: 1.5rem;
  font-weight: 600;
  color: #123456; }

.list ul li label span {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.list ul li label span:before {
  content: '';
  position: absolute;
  top: 5px;
  width: 10px;
  height: 5px;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transform: rotate(-40deg); }

.list ul li label input:checked ~ p {
  text-decoration: line-through;
  color: #123456; }

.list ul li label input:checked ~ span {
  background: #123456;
  border: 1px solid #123456; }

.list ul li label input:checked ~ span::before {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff; }

/* END STYLE */
.category__container-category {
  width: 80%;
  height: auto;
  padding: 2rem 2rem 4rem 2rem;
  margin: 1rem auto;
  text-align: center;
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, rgba(247, 247, 247, 0.8), rgba(255, 211, 73, 0.8)); }

.category__container-category--red {
  background-image: linear-gradient(to bottom left, rgba(247, 247, 247, 0.8), rgba(255, 120, 90, 0.8)); }

.category__category-title {
  margin-bottom: 2rem; }

.category__category-description {
  margin-bottom: 4rem; }

.category__container-title {
  text-align: center; }

.category__container-load {
  text-align: center;
  margin-top: 5rem; }

.content {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 2rem;
  grid-template-areas: "content__main content__sidebar"; }
  @media only screen and (max-width: 1499px) {
    .content {
      width: 95%; } }
  @media only screen and (max-width: 991px) {
    .content {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 5rem;
      grid-template-areas: "content__main" "content__sidebar"; } }
  .content__main {
    grid-area: content__main; }
  .content__sidebar {
    grid-area: content__sidebar; }
    @media only screen and (max-width: 991px) {
      .content__sidebar {
        margin-bottom: 5rem; } }
  .content__sidebar-content {
    margin-bottom: 2rem; }
  .content__sidebar-container-title {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #000; }
  .content__sidebar-title {
    color: #fff; }
  .content__sidebar-menu {
    list-style-type: none; }
  .content__sidebar-menu-item {
    display: inline;
    margin: 1rem; }
  .content__sidebar-menu-list {
    list-style: none; }
  .content__sidebar-menu-item-list {
    margin-bottom: 1rem; }
  .content__sidebar-social-icon {
    width: 5rem; }

.error404__container-404 {
  text-align: center; }

.error404__404-description {
  margin-bottom: 5rem; }

.error404__404-action-flex {
  width: 100%;
  height: auto;
  min-height: 10rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5rem; }

.error404__404-action-flex-single {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem; }

.header {
  position: relative;
  height: 40vh; }
  @media only screen and (max-width: 575px) {
    .header {
      height: 50vh; } }
  .header__container {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 0;
    text-align: center;
    border-bottom: 3px solid #000;
    z-index: 1; }
    @media only screen and (max-width: 1499px) {
      .header__container {
        width: 95%; } }
  .header__logo {
    display: inline-block;
    width: 15rem; }

/*
* Add more height for device with screen
* height less then 800px
* like laptop 15.6''
*/
@media screen and (max-height: 800px) {
  .header {
    height: 50vh; } }

/*
* Add more height for device with screen
* height less then 700px
* like iPhone 4 and iPhone SE
*/
@media screen and (max-height: 700px) {
  .header {
    height: 90vh; } }

.footer {
  height: 30rem;
  margin-top: 5rem;
  padding: 0 2rem 5rem 2rem;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: #000; }
  .footer__container-content {
    text-align: center;
    color: #fff; }
  .footer__heart {
    font-size: 3.5rem;
    color: #f00; }

.nav {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: #222;
  z-index: 2; }
  .nav__label {
    display: none;
    cursor: pointer; }
    @media only screen and (max-width: 991px) {
      .nav__label {
        display: block; } }
  .nav__toggle {
    display: block;
    width: 3rem;
    padding: .2rem;
    margin: .5rem;
    background-color: #fff; }
  .nav__input {
    display: none; }
    .nav__input:checked ~ .nav__menu {
      display: block; }
  @media only screen and (max-width: 991px) {
    .nav__menu {
      display: none; } }
  .nav__item {
    padding: 1rem;
    display: inline;
    font-size: 2rem;
    color: #fff; }
    @media only screen and (max-width: 991px) {
      .nav__item {
        display: block; } }

.author__container-all-authors {
  text-align: center;
  margin: 5rem auto; }

.author__container-articles {
  margin: 5rem auto; }

.author__container-title {
  text-align: center; }

.home__container-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.home__container-category {
  width: 40rem;
  min-height: 30rem;
  padding: 2rem 2rem 4rem 2rem;
  margin: 1rem;
  text-align: center;
  transition: transform .8s;
  border-radius: 5px; }
  .home__container-category:hover {
    transform: scale(1.05); }
  @media only screen and (max-width: 1499px) {
    .home__container-category {
      width: 35rem;
      margin: 2rem 1rem; } }
  @media only screen and (max-width: 1199px) {
    .home__container-category {
      width: 80%;
      height: auto;
      min-height: auto;
      margin: 2rem auto;
      padding: 2rem 2rem 5rem 2rem; } }

.home__category-title {
  margin-bottom: 2rem; }

.home__category-description {
  margin-bottom: 4rem; }

.home__container-viaggi {
  background-image: linear-gradient(to bottom right, rgba(247, 247, 247, 0.8), rgba(255, 211, 73, 0.8)); }

.home__container-eventi {
  background-image: linear-gradient(to bottom left, rgba(247, 247, 247, 0.8), rgba(255, 120, 90, 0.8)); }

.home__container-documenti {
  background-image: linear-gradient(to top right, rgba(247, 247, 247, 0.8), rgba(255, 120, 90, 0.8)); }

.home__container-estero {
  background-image: linear-gradient(to top left, rgba(247, 247, 247, 0.8), rgba(255, 211, 73, 0.8)); }

.home__container-articles {
  width: 90%;
  margin: 5rem auto; }

.home__container-title {
  text-align: center;
  margin-bottom: 5rem; }

.home__container-all-article {
  margin-top: 5rem;
  text-align: center; }

.tag__container-title {
  text-align: center;
  margin-bottom: 5rem; }
